# rename this file to .env.dev
# get variables from ./garage/bootstrap.sh
AWS_S3_ENDPOINT=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_RUN_BUCKET=
AWS_REGION=

MONGODB_URI=mongodb://test:test@mongo:27017
MATLAB_URI=https://mps.hytechracing.duckdns.org
ENV=DEVELOPMENT
