services:
  cloud_webserver_v2:
    container_name: cloud_webserver_v2
    volumes:
      - matlab_mps_data:/mps_data
      - run_metadata:/data/run_metadata
      - ./htmls:/app/files
      - ./logs:/app/logs
    build:
      context: .
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: unless-stopped

volumes:
  run_metadata:
  matlab_mps_data:
    external: true
